.black {
    width: 600px;
    background-color: #414141;
}
.back {
    width: 600px;
    background-color: #8a8a8a;
}
.back-light {
    
    background-color: #b9b9b9;
}
#area {
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Courier New';
}
.float-left {
    float: none;
}
.float-right {
    float: none;
}