h1 {
    color: rgb(0, 129, 169);
    font-family: 'Oswald', sans-serif;
}
h2 {
    color: rgb(0, 129, 169);
}
h3 {
    color: rgb(0, 129, 169);
}
p {
    color: white;
    font-family: 'Oswald', sans-serif;
}
.light {
    font-weight: 200;
}
.bold {
    font-weight: 700;
}
body {
    background-color: #161313;
}
#area {
    width: 600px;
    margin: 5px;
    padding: 10px;
}