@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Raleway", sans-serif;
    text-align: center;
}

#flex-container {
    display: flex;
    flex-direction: row;
    font-size: 24px;
}

#flex-item-left {
    background-color: gray;
    padding: 15px;
    flex: 50%;
}

#flex-item-right {
    background-color: gray;
    padding: 15px;
    flex: 50%;
}

@media screen and (max-width: 600px) {
    #flex-container {
        flex-direction: column;
    }
}
